@model System.Collections.Generic.IEnumerable<BusinessLayer.Labour>

@if(Model.Any())
{ 
<table>
    <tr>
        <th>@Html.LabelFor(l => Model.First().Time)</th>
        <th>@Html.LabelFor(l => Model.First().Cost)</th>
    </tr>
    @foreach(var l in Model)
    {
        <tr>
            <td>@Html.DisplayFor(labour => l.Time)</td>
            <td>@Html.DisplayFor(labour => l.Cost)</td>
        </tr>
    }
</table>
}