@model System.Collections.Generic.IEnumerable<BusinessLayer.Part>

@if(Model.Any())
{
    <table>
        <tr>
            <th>@Html.LabelFor(p => Model.First().Name)</th>
            <th>@Html.LabelFor(p => Model.First().Cost)</th>
        </tr>
        @foreach(var part in Model)
        {
            <tr>
                <td>@Html.DisplayFor(p => part.Name)</td>
                <td>@Html.DisplayFor(p => part.Cost)</td>
            </tr>
        }
    </table>
}