@section Styles
{
    <link type="text/css" href="~/Scripts/ui-select/select.min.css" rel="stylesheet" />
}

@section Scripts
{
    <script type="text/javascript" src="~/Scripts/Angular/angular.min.js"></script>
    <script type="text/javascript" src="~/Scripts/Angular/angular-route.js"></script>
    <script type="text/javascript" src="~/Scripts/Angular/angular-sanitize.min.js"></script>
    <script type="text/javascript" src="~/Scripts/ui-select/select.min.js"></script>
    <script type="text/javascript" src="~/Scripts/services.js"></script>
    <script type="text/javascript" src="~/Scripts/controllers.js"></script>
    <script type="text/javascript" src="~/Scripts/app.js"></script>
}

<div ng-app="garage">
    <div ng-view></div>
</div>

