@model MaintenanceTracker.Models.VehicleModel

<tr>
    <td>@Html.DisplayFor(v => v.Make)</td>
    <td>@Html.DisplayFor(v => v.Model)</td>
    <td>@Html.DisplayFor(v => v.Year)</td>
    <td>@Html.DisplayFor(v => v.Registration)</td>
</tr>

