@model MaintenanceTracker.Web.ViewModels.HomeViewModel
@{
    ViewBag.Title = "Index";
}

<div class="row">
    <div class="col-xs-12 col-sm-6">
        @Html.Partial("Login", Model.Login)
    </div>
    <div class="col-xs-12 col-sm-6">
        @Html.Partial("Register", Model.Register)
    </div>
</div>
