@model MaintenanceTracker.Web.ViewModels.HomeViewModel
@{
    ViewBag.Title = "Index";
}

<div class="row">
    <div class="col-xs-6">
        @Html.RenderPartial("Login", Model.Login)
    </div>
    <div class="col-xs-6">
        @Html.RenderPartial("Register", Model.Register)
    </div>
</div>
